name: Build Sports Playlists Hourly

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  build_sports:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Build Sports Playlist
        run: |
          python SportsMaster.py

      - name: Commit updated playlist
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-update sports playlist"
          file_pattern: sports_master.m3u
          skip_fetch: true
          skip_checkout: true
